#hero {
	position: relative;
	background-color: black;
	height: 75vh;
	min-height: 40rem;
	width: 100%;
	overflow: hidden;
  }
  
  #hero video {
	position: absolute;
	top: 40%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  #hero .container {
	position: relative;
	z-index: 2;
  }
  
 #hero .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
 /* Extra small devices (phones, 480px and down) */
@media only screen and (max-width: 480px)    {
	#hero {
		height: 40vh;
    min-height: 20rem;
	}	
	#hero video {
    	margin-top: 3rem;
		position: absolute;
		top: 0%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: 0;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
  }

  #hero .overlay {

	
  }

  #hero {
	position: relative;
    background-color: black;
    height: 60vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    object-fit: fill;
    padding: 2rem 0;
}
  
} 

/* Small devices (tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	#hero video {
	
	  }

} 
  

  @media (pointer: coarse) and (hover: none) {
	#hero {
	}
	#hero video {
	  /* display: none; */
	}
  }