<?php
/**
 * @var \Zend\View\Renderer\PhpRenderer $this
 * @var array $assets Contains keys "asset" (AssetRepresentation), "caption", "title", "url" and "class".
 * @var string $heading
 */

// Note: this hero uses the classes and js of TailwindCSS

$escape = $this->plugin('escapeHtml'); 
$escapeAttr = $this->plugin('escapeHtmlAttr');
?>

    <?php if (!empty($heading)): ?>
<h2><?= $escape($heading) ?></h2>
<?php endif; ?>

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">


	<div id="hero sm:h-64">
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" onclick="this.paused ? this.play() : this.pause();>
    <source src="<?php echo $videoURL ?>" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="text-white md:w-2/3 text-center md:text-left md:pt-30 lg:px-20 md:py-20 sm:px-1">
       	<?php
		$this->headLink()->appendStylesheet($this->assetUrl('css/hero.css', 'VideoBackground')); ?>
	<h1 class="text-gray-100 font-extrabold text-4xl xs:text-3xl md:text-4xl font-sans"><?php echo $title ?></h1>
		<p class="text-gray-200 font-extrabold text-3xl xs:text-2xl md:text-3xl font-sans leading-tight"><?php echo $subtitle ?></p>
           <a id="cta" href="<?= $escape($asset['url']) ?>  "> <button class="bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
           <span>Learn more </span><svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
      </div>
    </div>
  </div>

 </div>
	<script>

$(document).ready(function() {
  $("#cta").on('click', function(event) {
	  $("html, body").animate({
      scrollTop: $("#hero").offset().top + 320
    }, 2000);
  });
});



</script>